# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IntelliJ IDEAProject\SpringMVC-Study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
